@page "/counter"
@using Microsoft.Extensions.Logging
@inject ILogger<Counter> Logger
@inject IJSRuntime JSRuntime
@inject HttpClient Http


<h1>Scegliere percorso</h1>

<EditForm Model="@paths" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Percorsi:
            <InputSelect @bind-Value="paths.NrPath">
                <option value="">Seleziona percorso...</option>
                <option value="Nr1">Nr. 1</option>
                <option value="Nr2">Nr. 2</option>
                <option value="Nr3">Nr. 3</option>
                <option value="Nr4">Nr. 4</option>
                <option value="Nr5">Nr. 5</option>
            </InputSelect>
        </label>

        <button type="submit">Ok</button>
    </p>

    @if (paths.StreetList.Count > 0)
    {
        <h2>Percorso Nr° @NrPaths</h2>
    }

    <ul style="list-style-type: none;">

        @foreach (var street in paths.StreetList)
        {
            <li><input type="checkbox" id="@street.Id" value="@street.Name" disable="" @onclick="eventArgs => { HasClicked(street.Id); }" /> @street.Name </li>
        }
    </ul>
</EditForm>



@code {

    private Paths paths = new() { StreetList = new List<Street>() };

    private int NrPaths = 0;

    private async Task HasClicked(int CheckID)
    {
        await JSRuntime.InvokeVoidAsync("disableCheckbox", CheckID, "");
        await JSRuntime.InvokeVoidAsync("saveInSession", CheckID);
    }

    private async Task HandleValidSubmit()
    {
        paths.StreetList = new();

        await JSRuntime.InvokeVoidAsync("sessionStorageClean");

        if (paths.NrPath == "Nr1")
        {
            var path001 = await Http.GetFromJsonAsync<List<Street>>("db-json/path001.json");
            paths.StreetList.AddRange(path001);

            NrPaths = 1;
        }

        if (paths.NrPath == "Nr2")
        {
            var path002 = await Http.GetFromJsonAsync<List<Street>>("db-json/path002.json");
            paths.StreetList.AddRange(path002);

            NrPaths = 2;
            
        }

        if (paths.NrPath == "Nr3")
        {
            var path003 = await Http.GetFromJsonAsync<List<Street>>("db-json/path003.json");
            paths.StreetList.AddRange(path003);

            NrPaths = 3;
            
        }

        if (paths.NrPath == "Nr4")
        {
            var path004 = await Http.GetFromJsonAsync<List<Street>>("db-json/path004.json");
            paths.StreetList.AddRange(path004);

            NrPaths = 4;
            
        }

        if (paths.NrPath == "Nr5")
        {
            var path005 = await Http.GetFromJsonAsync<List<Street>>("db-json/path005.json");
            paths.StreetList.AddRange(path005);

            NrPaths = 5;
            
        }

        // Process the valid form
    }
}
