@page "/guasti"
@using ProCivReport.Data
@using System
@using System.Runtime.CompilerServices
@using ProCivReport.Models
@inject HttpClient _http

<h1>Segnalazione Guasti Pubblica Illuminazione</h1>



<EditForm Model="@paths" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label><strong>Allegato al Verbale Nr: </strong><input type="text" /></label>
        <label><strong>del: </strong><input type="text" /></label>
        <input type="button" value="Aggiungi riga" @onclick="e => { AddRow(); }" />
    </p>
    @for (int i = 0; i < MaxNumber; i++)
    {
        <label><strong>Lampione N.: </strong><input type="text" id="@("lamp" + i)" /></label>
        <label><strong>Via: </strong><input type="text" id="@("via" + i)" /></label>
        <label><strong>Civico: </strong><input type="text" id="@("civico" + i)" /></label>
        <br />
    }

    <button type="submit">Salva</button>
</EditForm>
@code {
    private Paths paths = new() { StreetList = new List<Street>() };

    private string[] WeatherForecast;

    private async Task HandleValidSubmit()
    {
        WeatherForecast = await _http.GetFromJsonAsync<string[]>("api/Values");

    }

    private int MaxNumber = 1;

    private void AddRow()
    {
        MaxNumber++;
    }
}