@page "/pathlist"
@using Microsoft.Extensions.Logging
@using ProCivReport.Models
@inject ILogger<Paths> _logger
@inject IJSRuntime _jsRuntime
@inject HttpClient _http
@inject Persistency _persistency


<h1>Scegliere percorso</h1>

<EditForm Model="@_paths" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Percorsi:
            <InputSelect @bind-Value="_paths.NrPath">
                <option value="">Seleziona percorso...</option>
                <option value="Nr1">Nr. 1</option>
                <option value="Nr2">Nr. 2</option>
                <option value="Nr3">Nr. 3</option>
                <option value="Nr4">Nr. 4</option>
                <option value="Nr5">Nr. 5</option>
            </InputSelect>
        </label>

        <button type="submit">Ok</button>
    </p>

    @if (_paths.StreetList.Count > 0)
    {
        <h2>Percorso Nr° @_nrPaths</h2>
    }

    <ul style="list-style-type: none;">

        @foreach (var street in _paths.StreetList)
        {
            <li><input type="checkbox" id="@street.Id" checked="@street.AlreadyChecked" value="@street.Name" disabled="@street.AlreadyChecked" @onclick="eventArgs => { HasClicked(street.Id, _nrPaths); }" /> @street.Name </li>
        }
    </ul>
    
    
    
    <ul style="list-style-type: none;">

        @foreach (var x in _persistency.ServiceReport.Operators)
        {
            <li>@x.FullName . @x.BadgeId</li>
        }
    </ul>
    <ul style="list-style-type: none;">

        @foreach (var x in _persistency.ServiceReport.Vehicles)
        {
            <li>@x.Type . @x.Plate . @x.TotKm</li>
        }
    </ul>
</EditForm>
