@page "/servicereport"

@using ProCivReport.Data
@using ProCivReport.Models
@inject HttpClient _http

<h1>Rapporto di Servizio</h1>

<EditForm Model="@paths" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="divService">
        <label><strong>Verbale Nr: </strong><input type="text" /></label>
        <label><strong>Data: </strong><input type="date" /></label>
        <ul style="list-style-type: none;">
            <li><input type="checkbox" />  Monitoraggio Territorio  </li>
            <li><input type="checkbox" />  Esercitazione </li>
            <li><input type="checkbox" />  Gest. Attrezzatura/Sede  </li>
            <li><input type="checkbox" />  COR/SOUP  </li>
            <li><input type="checkbox" />  Corso Formazione  </li>
            <li><input type="checkbox" />  Emergenza  <input type="text" /></li>
            <li><input type="checkbox" />  Altro  <input type="text" /></li>
        </ul>
    </div>

    <div class="divService">
        <label><strong>Caposquadra: </strong><input type="text" id="capoSquadra" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" id="badgeIdCaposquadra" /></label><br />
        <label><strong>Addetto: </strong><input type="text" id="addetto1" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" id="badgeId1" /></label>
        <input type="button" value="Aggiungi Addetto" @onclick="e => { AddOperator(); }" /><br />

        @for (int i = 0; i < _maxOperatorNumber; i++)
        {
            <label><strong>Addetto: </strong><input type="text" id="@("addetto" + (i+2))" /></label> <label><strong>Matricola: </strong><input type="text" id="@("badgeId" + (i+2))" /></label><br />
        }
    </div>

    <div class="divService">
        <label>
            <h3>VEICOLI: </h3>
            <label><strong>Mezzo: </strong><input type="text" id="type1" /></label>&nbsp;<label><strong>Targa: </strong><input type="text" id="plate1" /></label>&nbsp;<label><strong>TOT KM: </strong><input type="text" id="totKm1" /></label>
            <input type="button" value="Aggiungi Veicolo" @onclick="e => { AddVehicle(); }" /><br />

            @for (int i = 0; i < _maxVehicleNumber; i++)
            {
                <label><strong>Mezzo: </strong><input type="text" id="@("type" + (i+2))" /></label> <label><strong>Targa: </strong><input type="text" id="@("plate" + (i+2))" /></label> <label><strong>TOT KM: </strong><input type="text" id="@("totKm" + (i+2))" /></label><br />
            }

        </label>
    </div>

    <div class="divService">
        <label>
            <h3>1° Gruppo: </h3>
            <label><strong>Ora di Partenza: </strong><input type="time" @bind="_serviceReport.FirstGroup.DepartureTime" /></label>&nbsp;<label><strong>Ora di Arrivo: </strong><input type="time" @bind="_serviceReport.FirstGroup.ArrivalTime" /></label>&nbsp;<label><strong>Ore Totali: </strong><input type="text" @onfocus="eventArgs => { CalculateGroup(1); }" value="@_serviceReport.FirstGroup.TotalHours" /></label><br />
        </label>

        <label>
            <h3>2° Gruppo: </h3>
            <label><strong>Ora di Partenza: </strong><input type="time" @bind="_serviceReport.SecondGroup.DepartureTime" /></label>&nbsp;<label><strong>Ora di Arrivo: </strong><input type="time" @bind="_serviceReport.SecondGroup.ArrivalTime" /></label>&nbsp;<label><strong>Ore Totali: </strong><input type="text" @onfocus="eventArgs => { CalculateGroup(2); }" value="@_serviceReport.SecondGroup.TotalHours" /></label><br />
        </label>
    </div>

    <div class="divService">
        <label><strong>Note: </strong><textarea> </textarea></label>
    </div>

    <button type="submit">Salva</button>


</EditForm>

