@page "/servicereport"

@using ProCivReport.Data
@using ProCivReport.Models


<h1>Rapporto di Servizio</h1>

<EditForm Model="@paths" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div style="border: 1px solid black; padding: 25px; width: 65%; margin: 15px;">
        <label><strong>Verbale Nr: </strong><input type="text" /></label>
        <label><strong>Data: </strong><input type="date" /></label>
        <ul style="list-style-type: none;">
            <li><input type="checkbox" />  Monitoraggio Territorio  </li>
            <li><input type="checkbox" />  Esercitazione </li>
            <li><input type="checkbox" />  Gest. Attrezzatura/Sede  </li>
            <li><input type="checkbox" />  COR/SOUP  </li>
            <li><input type="checkbox" />  Corso Formazione  </li>
            <li><input type="checkbox" />  Emergenza  <input type="text" /></li>
            <li><input type="checkbox" />  Altro  <input type="text" /></li>
        </ul>
    </div>

    <div style="border: 1px solid black; padding: 25px; width: 65%; margin: 15px;">
        <label><strong>Caposquadra: </strong><input type="text" id="capoSquadra" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" id="badgeIdCaposquadra" /></label><br />
        <label><strong>Addetto: </strong><input type="text" id="addetto1" /></label>&nbsp;<label><strong>Matricola: </strong><input type="text" id="badgeId1" /></label>
        <input type="button" value="Aggiungi Addetto" @onclick="e => { AddOperator(); }" /><br />
        
        @for (int i = 0; i < _maxOperatorNumber; i++)
        {
            <label><strong>Addetto: </strong><input type="text" id="@("addetto" + (i+2))" /></label> <label><strong>Matricola: </strong><input type="text" id="@("badgeId" + (i+2))" /></label><br />
        }
    </div>

    <div style="border: 1px solid black; padding: 25px; width: 65%; margin: 15px;">
        <label>
            <h3>VEICOLI: </h3>
            <label><strong>Mezzo: </strong><input type="text" id="type1" /></label>&nbsp;<label><strong>Targa: </strong><input type="text" id="plate1" /></label>&nbsp;<label><strong>TOT KM: </strong><input type="text" id="totKm1" /></label>
            <input type="button" value="Aggiungi Veicolo" @onclick="e => { AddVehicle(); }" /><br />

            @for (int i = 0; i < _maxVehicleNumber; i++)
            {
                <label><strong>Mezzo: </strong><input type="text" id="@("type" + (i+2))" /></label> <label><strong>Targa: </strong><input type="text" id="@("plate" + (i+2))" /></label> <label><strong>TOT KM: </strong><input type="text" id="@("totKm" + (i+2))" /></label><br />
            }

        </label>
    </div>

    <div style="border: 1px solid black; padding: 25px; width: 65%; margin: 15px;">
        <label>
            <h3>1° Gruppo: </h3>
            <label><strong>Ora di Partenza: </strong><input type="time" @bind="_serviceReport.FirstGroup.DepartureTime" /></label>&nbsp;<label><strong>Ora di Arrivo: </strong><input type="time" @bind="_serviceReport.FirstGroup.ArrivalTime" /></label>&nbsp;<label><strong>Ore Totali: </strong><input type="text" @onfocus="eventArgs => { CalculateGroup(1); }" value="@_serviceReport.FirstGroup.TotalHours"/></label><br />
        </label>

        <label>
            <h3>2° Gruppo: </h3>
            <label><strong>Ora di Partenza: </strong><input type="time" @bind="_serviceReport.SecondGroup.DepartureTime"/></label>&nbsp;<label><strong>Ora di Arrivo: </strong><input type="time" @bind="_serviceReport.SecondGroup.ArrivalTime"/></label>&nbsp;<label><strong>Ore Totali: </strong><input type="text" @onfocus="eventArgs => { CalculateGroup(2); }" value="@_serviceReport.SecondGroup.TotalHours" /></label><br />
        </label>
    </div>

    <div style="border: 1px solid black; padding: 25px; width: 65%; margin: 15px;">
        <label><strong>Note: </strong><textarea> </textarea></label>
    </div>

    <button type="submit">Salva</button>


</EditForm>
@code {
    private Paths paths = new() { StreetList = new List<Street>() };

    private ServiceReportDto _serviceReport = new ServiceReportDto();

    private void HandleValidSubmit()
    {
        
    }

    private DateTime FirstDepHour;
    private DateTime FirstArrHour;
    private DateTime SecondDepHour;
    private DateTime SecondArrHour;
    private string FirstTotalHour;
    private string SecondTotalHour;

    private int _maxOperatorNumber = 0;
    private int _maxVehicleNumber = 0;


    private void CalculateGroup(int groupNumber)
    {

        var difference = groupNumber == 1 ? _serviceReport.FirstGroup.ArrivalTime.Subtract(_serviceReport.FirstGroup.DepartureTime) : _serviceReport.SecondGroup.ArrivalTime.Subtract(_serviceReport.SecondGroup.DepartureTime);
        if (groupNumber == 1)
            _serviceReport.FirstGroup.TotalHours = (int)difference.TotalHours;
        else
            _serviceReport.SecondGroup.TotalHours = (int)difference.TotalHours;
    }

    private void AddOperator()
    {
        _maxOperatorNumber++;
    }

    private void AddVehicle()
    {
        _maxVehicleNumber++;
    }
}
